p {
    font-size: 16px;
    color: brown; 
}

#heading-one{
    font-size: 50px;
    color: yellow

}

.text-highlight{
    background-color: yellowgreen;
    border: 1px solid black;
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    color: darkblue;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: left;
    
}